*{
   /* border: 1px solid red; */
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
}

img{
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,
.main-heading,
.recipe-heading,
.description-text{
    text-align: center;
}

.recipe-list > li{
    color:blueviolet;
    display: block;
    background-color: azure;
    height: auto;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
}

ul{
    padding: 0;
}

.main-heading{
    color: seagreen;
    text-align: center;
}

.recipe-heading{
    color:crimson;
}

h2{
    color:darkblue;
}

h3{
    color:steelblue;
}